body {
  margin: 0;
}
#body{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

#display {
    width: 400px;
    height: 200px;

    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the display itself */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#text {
    margin: 0; /* Remove default margin */
    text-align: center; /* Align text horizontally if needed */
}
